#confirm {
	border: none;
	color: #fff;
	background-color: #d35266;;
    padding: 7px 12px;
	border-radius: 50px;
	border: 1.5px solid black;
	font-size: 16px;
	font-weight: 600;
}

body{
    background-color: white;
    font-family: Gotham, Helvetica, sans-serif;
}

.text-box{
    width: 200px;
    height: 30px;
    border-color:#d35266;
    border-radius: 10px;
}

.sub-head{
    color: white;
    font-size: 23px;
}

#main{
    background: #d35266;
    padding: 40px;
    border-radius: 30px;
}

